
<br>
<div class="storycenter">
<img class="stimg"   alt="Select Tasty story" title="" src="../assets/story.jpg"><div class="back"> 
  <p class="ourstory"  >   
    Welcome to Select Tasty Bakery, where every bite is the right choice! Since our establishment in 2016, Select Tasty Bakery has been a labor of love, bringing joy to our community through delectable sweets and treats. Founded by  B.Kumar We've been dedicated to delivering delightful experiences with every bite.

    At Select Tasty, we believe in the simple pleasure of enjoying good food. We pour our heart and soul into crafting each sweet masterpiece, ensuring that quality is never compromised. From the finest ingredients to the artistry in our kitchen, we take pride in delivering a taste that's not just delicious but an experience that lingers.    </p>
</div>
</div>
<div class="storycenter">

</div>

<br>
<div class="bre">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

<div  class="container slide"  >
  <div id="demo2" class="carousel slide" data-bs-ride="carousel">
    <img alt="Select Tasty story" title="" src="../assets/quo.jpg" class="quo">
       

   

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="carousel-item active roll">
        <p class="review">A really favourite bake on Karaikudi, the taste and price are worth it . Best place to spend time with friends 😁. Karaikudi chicken pizza should try .</p>
        <div class="pos">
        <p class="peo">Arjun K</p> 
        <div class="storycenter">
        <img class="star" alt="Select Tasty review" title="" src="../assets/review.png  ">
        </div>
        <p class="peo1">Google Reviews</p>
        </div>
      </div>

      <div class="carousel-item roll">
        <p class="review">The bakery is located at nearby my office so, I visit and spend time often. In this bakery, I like their coffee, lemon soda, cases, etc. Their speciality is their adoption and they are well known for their situated location...</p>
        <div class="pos">
        <p class="peo">Satheesh Kumar K</p>
        <div class="storycenter">
          <img  class="star" alt="Select Tasty review" title="" src="../assets/review.png  ">
          </div>
        <p class="peo1">Google Reviews</p>
        </div>
      </div>
    
      <div class="carousel-item roll">
        <p class="review">Hi very nice bakery. Sweets & sovereign added chats available, affordable price, kind serving,good for easy digestion. Corner shop with seating fesilities. Veg & non vej items available.cooldrinks as well as fresh juice available. Time pass ok</p>
        <div class="pos">
        <p class="peo">Dr. N. Swaminathan.</p>
        <div class="storycenter">
          <img class="star" alt="Select Tasty review" title="" src="../assets/review.png  ">
          </div>
        <p class="peo1">Google Reviews</p>
        </div>
      </div>
    </div>
    <br>
<br>
<div class="bre"><br>
<br>
<br>
<br>
</div>


    <div class="carousel-indicators ">
      <button data-bs-target="#demo2" data-bs-slide-to="0" class="active indi"></button>
      <button data-bs-target="#demo2" data-bs-slide-to="1" class="indi"></button>
      <button data-bs-target="#demo2" data-bs-slide-to="2" class="indi"></button>
    </div>

    <img  alt="Select Tasty review" title="" src="../assets/quo1.jpg"class="quo1">
  </div>
</div>
<br>
<br>
<div class="footer">
  <div class="container-fluid ftnav">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="logo" src="../assets/logo.png" alt="select tasty" title="">&nbsp;&nbsp;
          <img class="logo" src="../assets/tamil logo.png" alt="select tasty" title="">
        </div>
        <div class="col-md-6">
          <ol class="navbar">
            <li class="nav"><a href="#Home" class="naa23" style="text-decoration: none;color:black;">Home</a></li>
            <li class="nav"><a href="#Products" class="naa23" style="text-decoration: none;color:black;">Products</a></li>
            <li  class="nav"><a href="#Our_Story" class="naa23" style="text-decoration: none;color:black;">Our Story</a></li>
            <li class="nav"><a target="_blank"  class="naa23" style="text-decoration: none;color:black;" href="https://api.whatsapp.com/send?phone=9345505595"> Contact Us</a></li>
          </ol>
         
            </div>
            </div>

      </div>
    </div>
      <div class="line">
     <img class="iline"  src="../assets/Line 1.png" alt="line" title="">
     </div>

  <div class="container-fluid storycenter1">
    <div class="container">
      <div class="row">
        <div class="col-md-2 ft">
       <a target="_blank" href="https://www.google.com/maps/place/Select+Tasty+Bakery/@10.0798781,78.7830542,21z/data=!4m19!1m12!4m11!1m3!2m2!1d78.7840687!2d10.0781936!1m6!1m2!1s0x3b00677a7c6d47b5:0x36b10f22dcecce6e!2s3QHM%2BFWJ,+Vairavapuram,+Karaikudi,+Tamil+Nadu+630003!2m2!1d78.7847598!2d10.0787108!3m5!1s0x3b00677a7c6d47b5:0x36b10f22dcecce6e!8m2!3d10.0787108!4d78.7847598!16s%2Fg%2F11c1vf274y?entry=ttu"> <img class="shop" src="../assets/shop.jpg" alt="SelectTasty" title=""></a>
        </div> 
        <div class="col-md-1">

        </div>
        <div class="col-md-3 ft">
          <div class="fhead"> Address</div>
          <p class="addr">3QHM+FWJ, Vairavapuram,
            Karaikudi,
            Tamil Nadu 630003</p>
            <p class="addr1">3QHM+FWJ,<br> Vairavapuram,<br>
              Karaikudi,<br>
              Tamil Nadu 630003</p>
        </div>
        <div class="col-md-3 ft">
          <div class="fhead"> Contact now</div>
          <p class="addr1">93455 05595<br>93455 05595<br>selecttasty@gmail.com</p> 
          <p class="addr">93455 05595<br>93455 05595<br>Select@gmail.com</p> 
             </div>
      
        <div class="col-md-3 ft ft1">
         <a target="_blank" href="https://api.whatsapp.com/send?phone=9345505595"> <img src="../assets/whatsapp.png" alt="whatsapp" title=""></a>&nbsp;&nbsp;
        <a target="_blank" href="https://www.facebook.com/select96" > <img src="../assets/Facebook.jpg" alt="Facebook" title=""></a> &nbsp;&nbsp;
         <a target="_blank" href="https://www.instagram.com/selecttasty/"> <img src="../assets/Instagram.png" alt="Instagram" title=""></a><br><br>
          <p class="fhead1">"Select Tasty: Where Every Bite is the Right Choice."</p>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="copy">© 2023 . All rights reserved.</div>
  
</div>


