<div class="aboutbody"></div>
<div class="body">
  <br />
<div class="hello">
    <div id="start">
      <div class="r1"></div>
      <br /><br />
      <div class="r2"></div>
      <br /><br />
      <div class="r3"></div>
      <div class="d-flex justify-content-center">
        <div class="elli"></div>
      </div>
      <div class="h1">Internship programs</div>
      <div id="side"></div>
      <div id="side1">
        <div class="r4"></div>
        <br /><br /><br />
      </div>
      <div id="side1">
        <div class="r5"></div>
        <br /><br /><br />
      </div>
      <div id="side1">
        <div class="r6"></div>
      </div>
    </div>

    <br /><br /><br /><br /><br /><br />
    <div class="internship_cont1">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-sm-12 ">
                    <p class="internshiphead">Shape Your Future: Explore Our Internships!</p>
                    <p class="whatisintern">
                      Learn all the instructional classes from our Experts in the IT industry. We offer top-notch Internship Training in Karaikudi, featuring an innovative and updated syllabus. As leading providers of programming and real-time project development training in Karaikudi, we ensure high-quality education and practical skills.
                    </p>
                  <button (click)="navigateToEnroll();scrollToTop();"  class="internbtn">Apply now</button>
                  <br>
                  <br>

                </div>
                <div class="col-xl-5 col-sm-12">
                    <img src="../assets/internship.jpg" alt="internship" class="internship_cont1img">
                </div>
            </div>
            <p class="ourdomains">Explore our popular domains</p>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="internshipcard">
                        <img src="../assets/Digital Marketing Intern.jpg" alt="ourservices" class="ourservicesimg">
                        <p class="servicestext">Digital Marketing</p>
                        <div class="durationtext"><span class="durationtext-inside">Internship duration:</span> 5-60 Days</div>
                    <div class="durationtext"><span class="durationtext-inside">Language:</span> English/Tamil</div>
                    <div class="durationtext"><span class="durationtext-inside">Internship Mode:</span> Offline/Online</div>
                    <div class="durationtext"><span class="durationtext-inside">Certificate:</span> Yes</div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="internshipcard">
                      <img src="../assets/software_training.jpg" alt="ourservices" class="ourservicesimg">
                      <p class="servicestext">Web Development</p>
                      <div class="durationtext"><span class="durationtext-inside">Internship duration:</span> 5-60 Days</div>
                    <div class="durationtext"><span class="durationtext-inside">Language:</span> English/Tamil</div>
                    <div class="durationtext"><span class="durationtext-inside">Internship Mode:</span> Offline/Online</div>
                    <div class="durationtext"><span class="durationtext-inside">Certificate:</span> Yes</div>
                    </div>                    
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="internshipcard">
                      <img src="../assets/designer_intern.jpg" alt="ourservices" class="ourservicesimg">
                      <p class="servicestext">Graphic Design</p>
                      <div class="durationtext"><span class="durationtext-inside">Internship duration:</span> 5-60 Days</div>
                    <div class="durationtext"><span class="durationtext-inside">Language:</span> English/Tamil</div>
                    <div class="durationtext"><span class="durationtext-inside">Internship Mode:</span> Offline/Online</div>
                    <div class="durationtext"><span class="durationtext-inside">Certificate:</span> Yes</div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="internshipcard">
                        <img src="../assets/data-analyst_intern.jpg" alt="ourservices" class="ourservicesimg">
                        <p class="servicestext">Data Analyst</p>
                        <div class="durationtext"><span class="durationtext-inside">Internship duration:</span> 5-60 Days</div>
                    <div class="durationtext"><span class="durationtext-inside">Language:</span> English/Tamil</div>
                    <div class="durationtext"><span class="durationtext-inside">Internship Mode:</span> Offline/Online</div>
                    <div class="durationtext"><span class="durationtext-inside">Certificate:</span> Yes</div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="internshipcard">
                      <img src="../assets/hardware_intern.jpg" alt="ourservices" class="ourservicesimg">
                      <p class="servicestext">Hardware</p>
                      <div class="durationtext"><span class="durationtext-inside">Internship duration:</span> 5-60 Days</div>
                    <div class="durationtext"><span class="durationtext-inside">Language:</span> English/Tamil</div>
                    <div class="durationtext"><span class="durationtext-inside">Internship Mode:</span> Offline/Online</div>
                    <div class="durationtext"><span class="durationtext-inside">Certificate:</span> Yes</div>
                    </div>                    
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="internshipcard">
                      <img src="../assets/app_develop.jpg" alt="ourservices" class="ourservicesimg">
                      <p class="servicestext">App Development</p>
                      <div class="durationtext"><span class="durationtext-inside">Internship duration:</span> 5-60 Days</div>
                    <div class="durationtext"><span class="durationtext-inside">Language:</span> English/Tamil</div>
                    <div class="durationtext"><span class="durationtext-inside">Internship Mode:</span> Offline/Online</div>
                    <div class="durationtext"><span class="durationtext-inside">Certificate:</span> Yes</div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <div class="internshipcard">
                    <img src="../assets/data_conversion.jpg" alt="ourservices" class="ourservicesimg">
                    <p class="servicestext">Data Conversion</p>
                    <div class="durationtext"><span class="durationtext-inside">Internship duration:</span> 5-60 Days</div>
                    <div class="durationtext"><span class="durationtext-inside">Language:</span> English/Tamil</div>
                    <div class="durationtext"><span class="durationtext-inside">Internship Mode:</span> Offline/Online</div>
                    <div class="durationtext"><span class="durationtext-inside">Certificate:</span> Yes</div>
                  </div>                    
              </div>
              <div class="col-xl-3 col-md-6">
                  <div class="internshipcard">
                    <img src="../assets/hr.jpg" alt="ourservices" class="ourservicesimg">
                    <p class="servicestext">HR</p>
                    <div class="durationtext"><span class="durationtext-inside">Internship duration:</span> 5-60 Days</div>
                    <div class="durationtext"><span class="durationtext-inside">Language:</span> English/Tamil</div>
                    <div class="durationtext"><span class="durationtext-inside">Internship Mode:</span> Offline/Online</div>
                    <div class="durationtext"><span class="durationtext-inside">Certificate:</span> Yes</div>
                  </div>
              </div>
            </div>
        </div>
      </div>
  </div>
<br>
<div class="bx">
<div class="container">
  
  <p class="queries mt-5">Some Students feel Happy With Us</p>
  <br>
  <div class="row">
    <div class="col-xl-4 col-md-12 col-12">
      <div class="box1">
        <p class="box1t">" Everything is good and we understood all the concepts which they taught during this internship very clearly!! " </p>
        <p class="namet">Mohana Priya</p>
      </div>
    </div>
    <div class="col-xl-4 col-md-12 col-12">
      <div class="box1">
        <p class="box1t">" Good place to learn things and get some experience. Good atmosphere and good tutors out here. " </p>
        <p class="namet">Pavithra Pandiyaraj</p>
      </div>
    </div>
    <div class="col-xl-4 col-md-12 col-12">
      <div class="box1">
        <p class="box1t">" As an intern in the HR domain, I am gaining practical experience and valuable exposure to the corporate world.  "</p>
        <p class="namet">Abirami</p>
      </div>
    </div>
  </div>
</div>
</div>

<p class="queries mt-5">Your Queries, Our Solutions</p>
<div class="container mobailv">  
  <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Who can apply for the internship?
                </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Our internships are open to UG/PG Graduates.
              </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Is the internship paid?
              </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Yes, Our internships are paid depending on the specific program and industry standards. Detailed information about compensation will be provided during the application process.
          </div>
      </div>
      </div>
      <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  How long does the internship last?
              </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">The duration of internships can vary, typically ranging from 7 days to 30 days.
              </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  How do I apply?
              </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">To apply, visit our application portal, fill out the required forms, and submit your details. We will review your application and contact candidates for interviews.
              </div>
          </div>
      </div>
     
  </div>
</div>
</div>
